@import "./functions-variables";

/* Main Content Styles */
.content {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
    "main announce"
    "main trending";
}
.content-main {
    background-color: lightgray;
    grid-area: main;
    
    .content-text {
        font-size: 1.5rem;
    }
    
    .content-projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    }

    .project {
        border: 1px solid black;
        width: toRem(300px);
        height: toRem(200px);
    }
}

.content-announcements {
    background-color: lightgoldenrodyellow;
    grid-area: announce;
}

.content-trending {
    background-color: lightsalmon;
    grid-area: trending;

}