@import "./functions-variables";

/* Main Content Styles */
.content {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 3fr 250px;
    grid-template-areas: 
    "main announce"
    "main trending";
}
.content-main {
    background-color: lightgray;
    grid-area: main;
    
    .content-text {
        font-size: 1.5rem;
        padding: 0 0 1rem 1rem;
    }
    
    .content-projects-grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        row-gap: 1rem;
        justify-items: center;
    }

    .project {
        // border: 1px solid black;
        border-radius: 5px;
        width: toRem(300px);
        height: toRem(200px);
        background-color: white;
        display: flex;
        gap: 10px;

        .status {
            width: 20px;
            height: 100%;
            background-color: yellow;
            border-radius: 5px;
        }

        .project-content {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
            padding-top: 20px;

            .project-name {
                font-weight: bold;
                padding-bottom: 10px;

            }

            .project-description {
                font-size: 0.9rem;
            }
        }

        .project-icons {
            display: flex;
            justify-content: flex-end;
            gap: toRem(20px);
            padding-bottom: toRem(20px);
            padding-right: toRem(20px);
        }
    }
}

.content-announcements {
    background-color: lightgoldenrodyellow;
    grid-area: announce;
    display: flex;
    flex-direction: column;

    .announcements {
        font-size: 1.5rem;
        padding-bottom: 1rem;

        .announcement-main {
            padding-left: 10px;
        }
    }

    .announcement-box {
        width: 200px;
        height: 400px;
        border: 1px solid black;
        padding: 10px;
        align-self: center;

        .announce-header {
            padding-top: 10px;
             padding-bottom: 10px;
        }
        
        .strike {
            text-align: center;
            padding: 10px;
        }
    }
}

.content-trending {
    background-color: lightsalmon;
    grid-area: trending;



    .trending-text {
        font-size: 1.5rem;
        padding-left: 1rem;
    }
    
    .trending-box {
        border: 1px solid black;
        margin: 1rem;
    }

    .trending-profile {
        display: flex;
        padding: 10px 0 0 10px;

        .profile-name {
            font-size: 1rem;
            padding-bottom: 2px;
        }

        .profile-info {
            opacity: 50%;
        }
    }

    .profile-icon {
        width: 30px;
        height: 30px;
        background-color: red;
        border-radius: 50%;
        margin-right: 10px;
    }
}