@use 'sass:math';

@function toRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem;
} //returns px to rem

@mixin fFlex($justify, $align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
} //fast flex function

$darkBlue: rgb(8,23,41);
$lightBlue: rgb(191, 220, 255);
$black: rgb(0, 0, 0);
$lightPurple: rgb(227, 194, 255);
$darkPurple: rgb(26, 8, 41);
