@use 'sass:math';

@function toRem($pxValue) {
    @return math.div($pxValue, 16px) * 1rem;
} //returns px to rem

@mixin fFlex($justify, $align) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
} //fast flex function

$darkBlue: rgb(8,23,41);
$lightBlue: rgb(191, 220, 255);
$black: rgb(0, 0, 0);
$lightPurple: rgb(227, 194, 255);
$darkPurple: rgb(26, 8, 41);

$stone50: #fafaf9;
$stone100: #f5f5f4;
$stone200: #e7e5e4;
$stone300: #d6d3d1;
$stone400: #a8a29e;
$stone500: #78716c;
$stone600: #57534e;
$stone700: #44403c;
$stone800: #292524;
$stone900: #1c1917;
