@import "./functions-variables";

/* Header Styles */
.header {
    background-color: $stone300;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem 1rem 2rem;
    color: $stone900;
}

.searchbox {
    display: flex;
 
    .search-icon {
        align-self: center;
        margin-right: toRem(10px);

    }

    #search_box {
        width: 25rem;
        height: 1.5rem;
        background-color: $stone400;
        border: none;
        border-radius: 5px;
        color: $stone50;
    }
}

.header-settings {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.header-profile-pic {
    
    .profile-pic img {
        max-width: 30px;
        height: 30px;
        object-fit: cover;
        object-position: top left;
        border-radius: 50%;
    
    }
}

.header-username {
    font-weight: bold;
}



