@import "./functions-variables";

/* Nav Bar Styles */
.nav {
    background-color: lightcoral;
    display: flex;
}

.profile-icon {
    width: 50px;

    img {
        max-width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
    }
}