@import "./functions-variables";

/* Sidebar Styles */
.sidebar {
    background-color: $stone800;
    padding-left: toRem(20px);
}

.sidebar-header {
    padding-bottom: toRem(50px);
}

.sidebar-content-main {
    display: flex;
    flex-direction: column;
    gap: toRem(7px);
    padding-bottom: toRem(50px);
}

.home a, .profile a, .messages a, .history a, .tasks a, .communities a {
    display: flex;
    gap: toRem(10px);
    text-decoration: none;
    color: inherit;
}

.sidebar-content-special {
    display: flex;
    flex-direction: column;
    gap: toRem(7px);
}

.settings a, .support a, .privacy a {
    display: flex;
    gap: toRem(10px);
    text-decoration: none;
    color: inherit;
}
