/* Remove Default Styles */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Colors */
/* Header Styles */
.header {
  background-color: #d6d3d1;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem 1rem 2rem;
  color: #1c1917;
}

.searchbox {
  display: flex;
}
.searchbox .search-icon {
  align-self: center;
  margin-right: 0.625rem;
}
.searchbox #search_box {
  width: 25rem;
  height: 1.5rem;
  background-color: #a8a29e;
  border: none;
  border-radius: 5px;
  color: #fafaf9;
}

.header-settings {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.header-profile-pic .profile-pic img {
  max-width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top left;
     object-position: top left;
  border-radius: 50%;
}

.header-username {
  font-weight: bold;
}

/* Colors */
/* Sidebar Styles */
.sidebar {
  background-color: #292524;
  padding-left: 1.25rem;
  color: #d6d3d1;
}

.sidebar-header {
  display: flex;
  align-items: center;
  padding-top: 0.25rem;
  padding-bottom: 3.125rem;
  font-weight: bold;
}

.sidebar-content-main {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
  padding-bottom: 3.125rem;
}

.home a, .profile a, .messages a, .history a, .tasks a, .communities a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
  color: inherit;
}

.sidebar-content-special {
  display: flex;
  flex-direction: column;
  gap: 0.4375rem;
}

.settings a, .support a, .privacy a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  text-decoration: none;
  color: inherit;
}

/* Colors */
/* Nav Bar Styles */
.nav {
  background-color: #d6d3d1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
  padding-right: 1.5rem;
}

.nav-profile {
  display: flex;
  align-items: center;
}

.profile-icon {
  padding-left: 2rem;
}
.profile-icon img {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.username {
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  margin: 0 10px 0 10px;
  font-weight: bold;
  padding: 5px 20px 5px 20px;
  border: none;
  border-radius: 15px;
  background-color: #44403c;
  color: #f5f5f4;
}

/* Colors */
/* Main Content Styles */
.content {
  display: grid;
  grid-template-rows: 1.5fr 1fr;
  grid-template-columns: 3fr 250px;
  grid-template-areas: "main announce" "main trending";
  color: #292524;
}

.content-main {
  background-color: #a8a29e;
  grid-area: main;
  padding: 0 0 1rem 1rem;
}
.content-main .content-text {
  font-size: 1.5rem;
  margin: 10px 0 10px 1.5rem;
}
.content-main .content-projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  row-gap: 1rem;
  justify-items: center;
}
.content-main .project {
  border-radius: 5px;
  width: 18.75rem;
  height: 12.5rem;
  background-color: #f5f5f4;
  display: flex;
  gap: 10px;
}
.content-main .project .status {
  width: 20px;
  height: 100%;
  background-color: rgb(227, 194, 255);
  border-radius: 3px;
}
.content-main .project .project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 50px;
  padding-top: 20px;
}
.content-main .project .project-content .project-name {
  font-weight: bold;
  padding-bottom: 10px;
  color: rgb(26, 8, 41);
}
.content-main .project .project-content .project-description {
  font-size: 0.9rem;
}
.content-main .project .project-icons {
  display: flex;
  justify-content: flex-end;
  gap: 1.25rem;
  padding-bottom: 1.25rem;
  padding-right: 1.25rem;
}

.content-announcements {
  background-color: #a8a29e;
  grid-area: announce;
  display: flex;
  flex-direction: column;
}
.content-announcements .announcements {
  font-size: 1.5rem;
  margin: 10px 0 10px 1rem;
}
.content-announcements .announcement-box {
  width: 200px;
  height: 375px;
  align-self: center;
  background-color: #f5f5f4;
  padding: 10px;
  border-radius: 5px;
}
.content-announcements .announcement-box .announce-header {
  font-weight: bold;
  color: rgb(26, 8, 41);
  padding-top: 10px;
  padding-bottom: 10px;
}
.content-announcements .announcement-box .strike {
  font-family: arial;
  text-align: center;
  padding: 10px;
}

.content-trending {
  background-color: #a8a29e;
  grid-area: trending;
}
.content-trending .trending-text {
  color: rgb(26, 8, 41);
  font-size: 1.5rem;
  padding-top: 1.1rem;
  padding-left: 1rem;
}
.content-trending .trending-box {
  width: 200px;
  height: 175px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f5f5f4;
  border-radius: 5px;
  margin: 1.15rem;
}
.content-trending .trending-profile {
  display: flex;
  padding: 10px 0 0 10px;
}
.content-trending .trending-profile .profile-name {
  font-size: 1rem;
  padding-bottom: 2px;
}
.content-trending .trending-profile .profile-info {
  opacity: 50%;
}
.content-trending .profile-icon {
  background-color: rgb(227, 194, 255);
  border-radius: 50%;
  margin-right: 10px;
}

/* Colors */
/* Footer Styles */
.footer {
  background-color: #d6d3d1;
  display: flex;
  justify-content: center;
}
.footer a {
  color: inherit;
}

/* ANYTHING AFTER THIS WILL OVERWRITE STYLES ABOVE */
body {
  width: auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 0.25fr 0.5fr 5fr 0.25fr;
  grid-template-columns: 250px 6fr;
  grid-template-areas: "sidebar header" "sidebar nav" "sidebar content" "sidebar footer";
  font-family: "Nunito", sans-serif;
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.nav {
  grid-area: nav;
}

.content {
  grid-area: content;
}

.footer {
  grid-area: footer;
}/*# sourceMappingURL=style.css.map */